<div class="section section-full-screen section-signup" style="background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="card card-signup">
                    <form class="form" method="" action="" ng-submit="enviar()">
                        <div class="header header-primary text-center">
                            <h4>Cadastro</h4>
                            <div class="social-line">
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#pablo" class="btn btn-simple btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>

                        <div class="content">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">Nome</i>
                                </span>
                                <div class="form-group is-empty"><input required type="text" class="form-control" placeholder="Seu nome" ng-model="nome"><span class="material-input"></span></div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">Email</i>
                                </span>
                                <div class="form-group is-empty"><input required type="text" class="form-control" placeholder="Email" ng-model="email"><span class="material-input"></span></div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="material-icons">Idade</i>
                                </span>
                                <div class="form-group is-empty"><input required type="number" placeholder="Idade" class="form-control" ng-model="idade"><span class="material-input"></span></div>
                            </div>

                            <!-- If you want to add a checkbox to this form, uncomment this code

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes" checked>
                                    Subscribe to newsletter
                                </label>
                            </div> -->
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary">Cadastrar<div class="ripple-container"></div></button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>